@tailwind base;
@tailwind components;
@tailwind utilities;

body,
:host {
  margin: 0;
  font-size: 16px;
  font-family:
    'PingFang SC',
    'PingFang TC',
    'PingFang HK',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}
